.login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
   
.login-cadastro {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-logo {
    top: 27px;
    left: 43px;
    width: 48px;
    height: 68px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
   
.login-frame20 {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 100px 0 0 100px;
    background-color: rgba(71, 92, 54, 1);
}
   
.login-frame24 {
    top: 0px;
    left: 24px;
    width: 24px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0 100px 100px 0;
    background-color: rgba(146, 151, 129, 1);
}
   
.login-frame21 {
    top: 22px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 100px 0 0 100px;
    background-color: rgba(151, 166, 126, 1);
}
   
.login-frame23 {
    top: 22px;
    left: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 100px;
    background-color: rgba(74, 94, 56, 1);
}
   
.login-frame22 {
    top: 46px;
    left: 0px;
    width: 24px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 100px 0 100px 100px;
    background-color: rgba(55, 70, 40, 1);
}
   
.login-frame38 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 616px;
    bottom: 0px;
    height: 466px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
   
.login-text10 {
    top: 355px;
    color: rgba(123, 123, 123, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-text11 {
    color: rgba(123, 123, 123, 1);
    font-weight: 400;
}
   
.login-confirmarsenha {
    top: 290px;
    left: 315px;
    width: 300px;
    height: 51px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(123, 123, 123, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
   
.login-texto1 {
    gap: 8px;
    top: -9px;
    left: 20px;
    width: 144px;
    display: flex;
    padding: 0 8px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-text13 {
    color: rgb(123, 123, 123);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: "Inter";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-svg-repoicon-carrier1 {
    top: 17.425811767578125px;
    left: 267.9828186035156px;
    width: 22.033687591552734px;
    height: 15.149749755859375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
   
.login-vector1 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 15px;
    position: absolute;
}
   
.login-text14 {
    top: 15.5px;
    left: 26px;
    color: rgb(67, 67, 67);
    height: auto;
    position: absolute;
    width: 225px;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: "Inter";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-senha {
    top: 290px;
    left: 0px;
    width: 300px;
    height: 51px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(123, 123, 123, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
   
.login-texto2 {
    gap: 8px;
    top: -10px;
    left: 20px;
    width: 64px;
    display: flex;
    padding: 0 8px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-text15 {
    color: rgba(123, 123, 123, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-svg-repoicon-carrier2 {
    top: 18.425811767578125px;
    left: 267.9828186035156px;
    width: 22.033687591552734px;
    height: 15.149749755859375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
   
.login-vector2 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 15px;
    position: absolute;
}
   
.login-text16 {
    top: 15.5px;
    left: 26px;
    color: rgba(67, 67, 67, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-email {
    top: 199px;
    left: 0px;
    width: 615px;
    height: 51px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(123, 123, 123, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
   
.login-texto3 {
    gap: 8px;
    top: -9px;
    left: 18px;
    width: 57px;
    display: flex;
    padding: 0 8px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-text17 {
    color: rgba(123, 123, 123, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-text18 {
    top: 15.5px;
    left: 26px;
    color: rgba(67, 67, 67, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    width: 560px;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-sobrenome {
    top: 108px;
    left: 315px;
    width: 300px;
    height: 51px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(123, 123, 123, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
   
.login-texto4 {
    gap: 8px;
    top: -9px;
    left: 20px;
    width: 104px;
    display: flex;
    padding: 0 8px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-text19 {
    color: rgba(123, 123, 123, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-text20 {
    top: 15.5px;
    left: 26px;
    color: rgba(67, 67, 67, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    width: 250px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-nome {
    top: 108px;
    left: 0px;
    width: 300px;
    height: 51px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(123, 123, 123, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
   
.login-texto5 {
    gap: 8px;
    top: -9px;
    left: 20px;
    width: 62px;
    display: flex;
    padding: 0 8px;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
   
.login-text21 {
    color: rgba(123, 123, 123, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-text22 {
    top: 15.5px;
    left: 26px;
    color: rgba(67, 67, 67, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-text23 {
    left: 0px;
    color: rgb(67, 67, 67);
    right: 0px;
    width: 615px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 50px;
    font-style: Bold;
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
   
.login-botopadrofontemaior {
    top: 421px;
    left: 158px;
    width: 300px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
}
   
.login-boto {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 45px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(84, 86, 47, 1);
}
   
.login-text24 {
    top: 9px;
    left: 84px;
    color: rgba(255, 249, 238, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Semi Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.login-boto:hover {
    background-color: #373919;
}

.login-text25 {
    color: rgba(84, 86, 47, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
  
.login-text25:hover {
    color: rgba(84, 86, 47, 1);
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}
  